
body{
    background-color: #E0E0E0;
    background-image: url(../img/jakobackground.jpeg);
}

.form{
    background-color: #CCE5FF;
    border: 2px solid black;
    border-radius: 2px;
    width: 50%;
    position: absolute;
    text-align: center;
    top: 25%;
    left: 25%;
    bottom: 4%;
    
}

.info{
    background-color: #CCE5FF;
    border: 2px solid black;
    position: absolute;
    text-align: center;
    width: 30%;
    left: 35%;
    bottom: 74%;
}
#button{
    background-color: #CCE5FF;
    position: fixed;
    bottom: 1em;
    right: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

#submit{
    background-color: #CCE5FF;
    position: fixed;
    bottom: 5%;
    left: 46%;
    border-radius: 5px;
}

#tulos{
    background-color: #CCE5FF;
    position: fixed;
    bottom: 4%;
    right: 17%;
    border: 2px solid black;
    height: 11%;
    width: 7%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .info{
        width: 40%;
        left: 30%;
    }

    .form{
        width: 60%;
        left: 20%;
    }

    #tulos{
        right: 1em;
        bottom: 10%;
    }

    #button{
        bottom: 4%;
    }

    #tulos{
        width: 12%;
    }
}